---
import "tailwindcss";
import "@/styles/global.css";
import { Separator } from "@radix-ui/react-separator";
import { dataAboutJHOL } from "@/data/about";
import { dataIconJHOL } from "@/data/about";
---

{
  dataAboutJHOL.map((about) => (
    <div class="h-[2043px] w-full">
      <div class="absolute p-16">
        <div class="w-[960px] h-[293px]">
          <h1 class="font-rethink font-medium text-[85px] text-[#171826] leading-[100px] mt-3">
            {about.titile}
          </h1>
          <p class="font-rethink font-medium text-[#171826] text-[22px] mt-8">
            {about.desc}
          </p>
        </div>
        <Separator className="w-[1220px] h-[1px] bg-[#A3C7D2] mt-40" />
        <img src={about.hero} alt={about.titile} class="mt-20" />

        <Separator className="w-[1220px] h-[1px] bg-[#A3C7D2] mt-20" />

        <div class="h-[541px] w-[1220px] mt-20">
          <div class="flex items-start justify-start flex-wrap grid-cols-3 grid-rows-2 gap-[40px]">
            {dataIconJHOL.map((about, index) => (
              <div class="bg-[#FFFFFF] w-[380px] h-[194px] grid">
                <img
                  src={about.icon}
                  alt={about.id}
                  class="h-[96px] w-[96px]"
                />
                <h1 class="font-rethink font-semibold text-[20px] text-[#171826]">
                  {about.title}
                </h1>
                <p class="font-rethink font-normal text-[15px] text-[#171826]">
                  {about.desc}
                </p>
                <div class="mt-10">
                  {index < 3 && (
                    <Separator className="w-[383px] h-[1px] bg-[#A3C7D2]" />
                  )}
                </div>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  ))
}
