---
import "tailwindcss";
import "@/styles/global.css";
import { dataBusinessPermit } from "@/data/about";
---

<section>
    <div class="bg-[#FFFFFF] h-[2216px] w-full ">
        <div class="p-16 flex items-start justify-start">
            {
                dataBusinessPermit.map((about)=>(
                    <div class="w-[1260px] h-[692px] grid gap-[48px]">
                    <h1 class="font-rethink font-normal text-[48px] text-[#AB0103]">{about.subTitle}</h1>
                    <h1 class="font-rethink font-medium text-[80px] text-[#171826]">{about.title}</h1>
                    <p class="whitespace-pre-line font-rethink font-medium text-[20px] text-[#171826]">
                    {about.desc}
                    </p>
                    <img src={about.image} alt={about.title} class="h-[1473px] w-[1300px]"/>
                </div>
                ))
            }
        </div>
    </div>
</section>  