---
import "tailwindcss";
import "@/styles/global.css";
import LayOutMain from "@/layouts/LayOutMain.astro";
import { dummyProgram } from "@/data/programs";


export async function getStaticPaths() {
  return dummyProgram.map((program) => ({
    params: { slug: program.slug },
    props: { program },
  }));
}

const { program } = Astro.props;
---

<LayOutMain>
  <div
    class="relative flex flex-wrap bg-black backdrop-brightness-50 bg-no-repeat bg-center bg-cover h-full w-full"
  >
    <img src={program.background} alt="Program Background" />
    <div
      class="absolute top-[550px] p-16 z-10 flex flex-col items-start justify-start"
    >
      <div>
        <h1
          class="font-rethink font-semibold text-[#FFFFFF] text-[32px] tracking-wide"
        >
          {program.abbreviation}
        </h1>
        <h1 class="font-rethink font-semibold text-[#FFFFFF] text-[128px]">
          {program.title}
        </h1>
        <h1
          class="font-rethink font-semibold text-[#FFFFFF] text-[32px] tracking-wide"
        >
          {program.details}
        </h1>
      </div>
    </div>
  </div>

  <!-- About Program -->
  <section>
    <div class="bg-[#FFFFFF] w-full h-[558px] p-16">
      <div
        class="flex flex-row grid-cols-2 grid-rows-2 gap-[48px] items-start justify-between"
      >
        <div class="gap-[48px]">
          <h1 class="font-barlow font-normal text-[#AB0103] text-[48px]">
            本プログラムについて
          </h1>
          <h1 class="font-barlow font-normal text-[#171826] text-[85px]">
            Tentang Program
          </h1>
        </div>
        <div class="h-[400px] w-[464px]">
          <p class="font-barlow font-medium text-[#171826] text-[20px]">
            {program.desc}
          </p>
          <p class="font-barlow font-medium text-[#171826] text-[20px] mt-10">
            {program.descJapanese}
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Simulasi -->
  <section>
    <div class="bg-[#FFFFFF] w-full h-[1223px] p-16">
      <div class="flex flex-col items-center justify-center gap-[48px]">
        <h1
          class="font-barlow font-medium text-[#171826] text-[64px] tracking-tight"
        >
          Simulasi Lama Tinggal & Bekerja di Jepang
        </h1>
        <img src="/assets/images/image 19.png" alt="Gambar Simulasi" />
      </div>
    </div>
  </section>
</LayOutMain>
