---
import "tailwindcss";
import "@/styles/global.css";
import { dataLearning } from "@/data/home";
---

<section>
  {
    dataLearning.map((home) => (
      <div class="relative flex flex-wrap bg-black backdrop-brightness-50 bg-no-repeat bg-center bg-cover h-full w-full">
        <img src={home.background} alt={home.title}/>
        <div class="absolute grid-cols-1 items items-center justify-center p-25 py-32 mr-60">
          <h2 class="text-2xl text-[#FFFFFF] font-barlow">{home.subTitle}</h2>
          <h1 class="text-6xl text-[#FFFFFF] font-rethink mt-10">
            {home.title}
          </h1>
          <p class="text-1xl text-[#FFFFFF] font-rethink mt-10 mr-40">
            {home.desc}
          </p>
            <p class="text-1xl text-[#FFFFFF] font-rethink ml-5 mr-60 whitespace-pre-line mt-7">
              {home.list}
            </p>
          <p class="text-1xl text-[#FFFFFF] font-rethink mt-10">
            {home.schedule}
          </p>
          <p class="text-1xl text-[#FFFFFF] font-rethink">{home.fill}</p>
        </div>
      </div>
    ))
  }
</section>
